In [14]:
from glob import glob
from pismragis.processing import convert_netcdf_to_dataframe, ncfile2dataframe
from pismragis.analysis import prepare_df

In [ ]:
infiles = glob("../tests/data/ts_gris_g1200m_v2023_RAGIS_id_*_1980-1-1_2020-1-1.nc")
df = convert_netcdf_to_dataframe(infiles, add_vars=False)
df.to_parquet("../tests/data/test_scalar.parquet")
df.to_csv("../tests/data/test_scalar.csv")

In [ ]:
df = convert_netcdf_to_dataframe(infiles, add_vars=False, resample="yearly")
df.to_parquet("../tests/data/test_scalar_YM.parquet")
df.to_csv("../tests/data/test_scalar_YM.csv")

In [ ]:
df = convert_netcdf_to_dataframe(infiles, add_vars=True)
df.to_parquet("../tests/data/test_scalar_add_vars.parquet")

In [1]:
infile = "../tests/data/ts_gris_g1200m_v2023_RAGIS_id_0_1980-1-1_2020-1-1.nc"

In [8]:
df = ncfile2dataframe(infile, add_vars=False)
df.to_parquet("../tests/data/test_scalar_file.parquet")
df.to_csv("../tests/data/test_scalar_file.csv")

In [10]:
df = ncfile2dataframe(infile, add_vars=False, resample="yearly")
df.to_parquet("../tests/data/test_scalar_file_YM.parquet")
df.to_csv("../tests/data/test_scalar_file_YM.csv")

In [11]:
df = ncfile2dataframe(infile, add_vars=True)
df.to_parquet("../tests/data/test_scalar_file_add_vars.parquet")
df.to_csv("../tests/data/test_scalar_file_add_vars.csv")

In [12]:
def prepare_df(ifile: str):
    suffix = pathlib.Path(ifile).suffix
    if suffix in (".csv", ".gz"):
        df = pd.read_csv(ifile, parse_dates=["time"])
    elif suffix in (".parquet"):
        df = pd.read_parquet(ifile)
    else:
        print(f"{suffix} not recognized")

    return df

In [15]:
infile = "../tests/data/test_scalar_YM.parquet"
df = prepare_df(infile)

In [16]:
df

         time  id  ...    Year  resolution_m
0  1980-01-01   4  ...  1980.0          1200
1  1981-01-01   4  ...  1981.0          1200
2  1982-01-01   4  ...  1982.0          1200
3  1983-01-01   4  ...  1983.0          1200
4  1984-01-01   4  ...  1984.0          1200
..        ...  ..  ...     ...           ...
36 2016-01-01   8  ...  2016.0          1200
37 2017-01-01   8  ...  2017.0          1200
38 2018-01-01   8  ...  2018.0          1200
39 2019-01-01   8  ...  2019.0          1200
40 2020-01-01   8  ...  2020.0          1200

[958 rows x 6 columns]

In [19]:
df_true = pd.read_parquet(infile)

In [18]:
import pandas as pd

In [20]:
df_true

         time  id  ...    Year  resolution_m
0  1980-01-01   4  ...  1980.0          1200
1  1981-01-01   4  ...  1981.0          1200
2  1982-01-01   4  ...  1982.0          1200
3  1983-01-01   4  ...  1983.0          1200
4  1984-01-01   4  ...  1984.0          1200
..        ...  ..  ...     ...           ...
36 2016-01-01   8  ...  2016.0          1200
37 2017-01-01   8  ...  2017.0          1200
38 2018-01-01   8  ...  2018.0          1200
39 2019-01-01   8  ...  2019.0          1200
40 2020-01-01   8  ...  2020.0          1200

[958 rows x 6 columns]

In [22]:
prepare_df("../tests/data/test_scalar_YM.csv").drop(columns=["Unnamed: 0"])

          time  id  ...    Year  resolution_m
0   1980-01-01   4  ...  1980.0          1200
1   1981-01-01   4  ...  1981.0          1200
2   1982-01-01   4  ...  1982.0          1200
3   1983-01-01   4  ...  1983.0          1200
4   1984-01-01   4  ...  1984.0          1200
..         ...  ..  ...     ...           ...
953 2016-01-01   8  ...  2016.0          1200
954 2017-01-01   8  ...  2017.0          1200
955 2018-01-01   8  ...  2018.0          1200
956 2019-01-01   8  ...  2019.0          1200
957 2020-01-01   8  ...  2020.0          1200

[958 rows x 6 columns]

In [23]:
df.drop?